@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'LCD Digits';
    src: url('../../../assets/fonts/digits_font.eot?1qsc4o');
    src: url('../../../assets/fonts/digits_font.eot?1qsc4o#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/digits_font.ttf?1qsc4o') format('truetype'),
        url('../../../assets/fonts/digits_font.woff?1qsc4o') format('woff'),
        url('../../../assets/fonts/digits_font.svg?1qsc4o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'LCD Digits' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-num-dot:before {
    content: '\e90a';
}
.icon-num-minus:before {
    content: '\e90b';
}
.icon-num-0:before {
    content: '\e900';
}
.icon-num-1:before {
    content: '\e901';
}
.icon-num-2:before {
    content: '\e902';
}
.icon-num-3:before {
    content: '\e903';
}
.icon-num-4:before {
    content: '\e904';
}
.icon-num-5:before {
    content: '\e905';
}
.icon-num-6:before {
    content: '\e906';
}
.icon-num-7:before {
    content: '\e907';
}
.icon-num-8:before {
    content: '\e908';
}
.icon-num-9:before {
    content: '\e909';
}
